i{
    font-size: 3rem;
    width: 50px;
    height: 50px;
}

.weatherSymbol{
    height: 30px;
    width: auto;
    color: #693250;
}

.weatherBox{
    /* background-color: rgb(246, 250, 247); */
    border: 3px solid black;
    border-radius: 30px;
    padding: 2rem;
    text-align: left;
}
.weatherBox h2{
    margin: 0;
}
