:root {
  --iths-purple: #693250;
  --iths-white:  #fcfafb;
  --iths-grey: #f5f5f5;
}
body, html{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

p{
  margin: 0;
  font-size: 1.5rem;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--iths-purple);
}

.App-link {
  color: #61dafb;
}

.table-header{
  width: 100%;
  display:flex;
  justify-content: space-between;
}

ul{
  list-style: none;
  width: 100%;
  padding: 0;
}
li{
  display:flex;
  justify-content: space-between;
  align-items: center;

}
li:nth-child(even){
  background-color: var(--iths-white);
}
@media screen and (max-width: 530px){
  p{
    font-size: 1rem;
  }

}
@media screen and (min-width: 720px) and (max-width: 980px){
p{
  font-size: 1rem;
}
}
@media screen and (min-width: 720px){

  .component-container{
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .clock{
    grid-row-start: 1 ;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .weather{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .traffic{
    grid-column-start: 3;
    grid-column-end: 5;
  }


}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}